<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>

<section>
    <h1>About Me</h1>
    <p>Halo, saya Aditya Cakti Chandrasa. Saya merupakan lulusan dari SMA Al-Muttaqin Tasikmalaya, sebuah sekolah swasta Islam yang berlokasi di Kota Tasikmalaya, Jawa Barat, dan telah berdiri sejak tahun 2003. Saya menempuh pendidikan di sana sejak tahun 2021 hingga lulus pada tahun 2024. 

    Setelah itu, saya melanjutkan studi di Universitas Padjadjaran (Unpad), salah satu perguruan tinggi negeri terkemuka di Indonesia yang berlokasi di Jatinangor, Sumedang, Jawa Barat, dan berdiri sejak tahun 1957. Saya mulai berkuliah di Unpad pada bulan Agustus 2024 dan saat ini sedang menjalani semester 2 di Program Studi Teknik Elektro. 

    Saya memiliki ketertarikan dalam bidang teknologi, khususnya dalam pengembangan web dan desain, serta selalu berusaha mengembangkan diri melalui berbagai kegiatan akademik dan organisasi.</p>
</section>
<section>
    <h2>Education</h2>

    <div>
        <h3>SMA Al-Muttaqin Tasikmalaya</h3>
        <img src="/static/img/sma.jpg" alt="SMA Al-Muttaqin Tasikmalaya" style="width:300px; height:auto; border-radius:10px;">
        <p>SMA Al-Muttaqin adalah sekolah swasta Islam yang berada di Kota Tasikmalaya, Jawa Barat dan Telah berdiri sejak tahun 2003.</p>
    </div>

    <div>
        <h3>Universitas Padjadjaran</h3>
        <img src="/static/img/unpad.jpg" alt="Universitas Padjadjaran" style="width:300px; height:auto; border-radius:10px;">
        <p>Universitas Padjadjaran adalah salah satu universitas Top 10 di Indonesia dan sudah berdiri sejak 1957.</p>
    </div>

</section>

</body>
</html>
