<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>

<section>
    <h1>Contact Me</h1>
    <p>Email: aditya24007@mail.unpad.ac.id</p>
    <p>CV: <a href="https://drive.google.com/file/d/1wLzWIDHTWi7XM0irZt_PMj2axNmpamhb/view?usp=sharing" target="_blank">ATS-Friendly CV</a></p>
    <p>Instagram: <a href="https://instagram.com/adityacchr" target="_blank">Follow saya di Instagran!</a></p>
</section>

</body>
</html>
